@font-face{
    font-family: 'pt Sans Bold';
    src: url('../fonts/ptsansbold.woff');

    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'pt Sans Regular';
    src: url('../fonts/ptsans.woff');

    font-style: normal;
}

body
{
    margin: 0;
    background-color: #f2f2f2;
    text-transform: uppercase;
    
}

.page
{
    position: relative;
    margin: 0 auto 0;
    min-width: 768px;
    max-width: 1200px;
    box-shadow: 0px 0px 7px 7px rgba(204,204,204,0.8);
}

.nav-header
{
    position: relative;
    z-index: 2;
}

.nav-list
{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding: 0;

}

.nav-list li
{
    list-style-type: none;
    margin: auto;
}

.nav-list li a
{
    text-decoration: none;
    vertical-align: 18px;
}

.nav-list li a:link, .nav-list li a:active, .nav-list li a:visited
{
    color: #000;
}

.cap-image
{
    width: 1200px;
    height: 508px;
    position: relative;
    top: -18px;
    z-index: 1;
}

.modal
{
    position: absolute;
    z-index: 4;
    left: 315px;
    height: 395px;
    width: 570px;
    box-shadow: 0px 3px 4px 3px rgba(204,204,204,0.8);
    animation: modal 2s;
}

@keyframes modal {
    0%      {transform: translateY(800px); box-shadow: 0px 150px 4px 3px rgba(204,204,204,0.8);}
    70%     {transform: rotate(0deg); box-shadow: 0px 3px 4px 3px rgba(204,204,204,0.8);}
    75%     {transform: rotate(-0.5deg);}
    80%     {transform: rotate(0.5deg);}
    85%     {transform: rotate(-0.5deg);}
    90%     {transform: rotate(0.2deg);}
    95%     {transform: rotate(-0.2deg);}
    100%    {transform: translateY(0px);}
}

.modal-body
{
    margin-top: 56px;
    margin-bottom: 56px;
}

.modal-fields
{
    margin-bottom: 114px;
}

.number-of-persons input
{
    text-align: center;
    border: none;
    width: 112px;
    height: 38px;
    margin-left: 10px;
}

.add-person
{
    position: relative;
    left: -30px;
}

.add-person,.sort-descending-selected,
.remove-person, .btn-transparent, .range-toggle, .calendar-icon,
.price-controls label
{
    cursor: pointer;
}

.remove-person
{
    position: relative;
    left: 38px;
    padding: 4px 0;
}

.nop-left
{
    display: block;
    
    width: 242px;
    position: absolute;
    left: 55px;
}

.nop-right
{
    display: block;

    width: 200px;
    position: absolute;
    right: 42px;
}

.persons
{
    display: block;
}

.date
{   
    display: block;
    margin: 30px auto 30px auto;
    width: 458px;
}

.date input
{
    border: none;
    width: 332px;
    height: 38px;
    margin-left: 10px;
    padding-left: 10px;
}

.calendar-icon
{
    position: absolute;
    right: 70px;
    width: 21px;
    margin-top: 9px;
}

.search-btn
{
    width: 458px;
    height: 58px;
    border: none;
}

.btn-container
{
    height: 86px;
    width: 570px;
    margin: 0 auto;
}

.open-modal-btn
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.footer-container
{
    margin: 0 auto;
    min-height: 120px;
    display: flex;
    width: 100%;
}

.footer-container div
{
    margin: auto;
}

.transparent
{
    position: absolute;
    bottom: 0;
    z-index: 4;
    background-color: rgba(255,255,255, 0.9);
}

.map
{
    width: 1200px;
    height: 593px;
    z-index: 3;
}

.first-container
{
    height: 198px;
}

.second-container
{
    min-height: 330px;
}

.container.second-container img
{
    margin-top: 60px;
}

.container
{
    display: block;
    text-align: center;
    line-height: 21px;
}

.container::after
{
    content: "";
    display: block;
    clear: both;
}

.container .content-title-left
{
    float: left;
    width: 400px;
    height: 256px;
}

.content-title-left .header-container, .content-title-right .header-container
{
    margin-top: 58px; 
}

.container .content-image-right
{
    float: right;
}

.container .content-title-right
{
    float: right;
    width: 400px;
    height: 256px;
}

.container .content-image-left
{
    float: left;
}

.container.background-color-gray div
{
    height: 256px;
}

.container.content-color-black div
{
    float: left;
    width: 400px;
}

.container.content-color-white div
{
    height: 256px;
}

.bottom-container
{
    margin-top: 58px;
    text-align: center;
    height: 232px;
}

.open-modal-btn, .search-btn, .number-result
{ 
    font-size: 21px;
    line-height: 26px;
}

.number-result span, .sort-inline
{
    font-size: 12px;
    line-height: 18px;
}

.content-color-black, .modal-fields, .result-name, .number-result
{
    font-family: 'pt Sans Bold', arial;
    color: #000;
}

.content-color-lightblack
{
    font-family: 'pt Sans Regular', arial;
    color: #333;

}

.content-color-white
{
    font-family: 'pt Sans Bold', arial;
    color: #fff;
}

.nav-header, .modal-fields, input
{
    font-size: 14px;
    line-height: 26px;
}

.container p, .filter-set label, .result-description, .digit-raiting,
.result-btns
{
    font-size: 14px;
    line-height: 21px;
}

.container p 
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.paramount-h
{
    margin-top: 0;
    padding-top: 42px;

    font-size: 21px;
    line-height: 26px;
}

.paramount-h + p
{
    font-size: 14px;
    line-height: 26px;
}

.secondary-h, .secondary-h p
{
    font-size: 21px;
    line-height: 21px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.advantages h2
{
    margin-top:50px;
}

.filters 
{
    height: 218px;
    display: block;
    background-image: url("../img/filter-background.jpg");
    position: relative;
    top: -18px;
    z-index: 1;
}

.filter-checkbox
{
    display: block;
    max-width: 320px;
    position: relative;
    left: 0;
}
.filter-set-left
{
    position: relative;
    left: 0;
    top: 28px;
}
.filter-set-right
{
    position: absolute;
    right: 0;
    top: 28px;
}

.checkbox
{
    margin-top: 22px;
    margin-bottom: 22px;
}

input[type="checkbox"]
{
    display: none;
}

.checkbox label
{
    cursor: pointer;
}

.checkbox label:before
{
    content: "";
    display: inline-block;
    width: 26px;
    height: 22px;
    margin-right: 16px;
}

input[type="checkbox"] + label:before
{
    background-image: url("../img/non-checked.png");
    background-repeat: no-repeat;
    vertical-align: bottom;
}

input[type="checkbox"]:checked + label:before 
{
    background-image: url("../img/checked.png");
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.filter-set label, .number-result span, .sort-inline,
.result-description, .digit-raiting
{
    font-family: 'pt Sans Regular', arial;
}

.filter-range
{
    position: absolute;
    right: 0;
    top: 28px;
    width: 330px;
}

.filter-range-title, .form-header
{
    font-size: 16px;
    line-height: 21px;
}

.filter-range-title
{
    margin-bottom: 9px;
    font-weight: 600;
}

.price-controls 
{
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after 
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    transform: translate(-50%, -50%);
    background: #ffffff;
}

.price-controls label 
{
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
}

.price-controls .min-price, .price-controls .max-price
{
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls 
{
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale 
{
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar 
{
    width: 80%;
    height: 2px;
    background: #fff;
}

.range-toggle:hover 
{
    background: #1c4f80;
}

.range-toggle 
{
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle-min 
{
    left: 0;
}

.range-toggle-max 
{
    left: 80%;
}

.btn-transparent
{
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

.btn-transparent:hover
{
    color: #000;
    background: #fff;
}

.horizontal-padding
{
    padding-left: 70px;
    padding-right: 70px;
}

.sort-container
{
    display: block;
    position: relative;
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 35px;
    padding-top: 12px;
}

.sort-inline a:link, .sort-inline a:active, .sort-inline a:visited
{
    color: #b1b1b1;
}

.sort-selected
{
    color: #81b3d2;
}

.sort-container p
{
    max-width: 250px;
}

.sort-inline
{
    display: inline-flex;
    position: absolute;
    top: 8px;
    right: 0;
    min-width: 845px;
    list-style-type: none;
}

.sort-inline li
{
    margin: 0 17px 0 17px;
}

.sort-inline .sort-ascending
{
    margin: 0 6px 0 6px;
    border: 5px solid transparent;
    border-bottom: 11px solid #b1b1b1;
}

.sort-inline .sort-descending-selected
{
    margin: 0 6px 0 6px;
    border: 5px solid transparent;
    border-top: 11px solid #81b3d2;
}

.sort-inline li:nth-child(4)
{
    margin-left: 467px;
}

.dotted
{
    border-bottom: dotted 1px #81b3d2;
    text-decoration: none;
}

.number-result span
{
    margin-left: 44px;
}

.result
{
    display: block;
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 90px;
    border-bottom: solid 1px #e5e5e5;
}

.result-name h2
{
    margin: 0 0 9px 0;
}

.result:nth-child(1n) h2:after
{
    content: url(../img/four-stars.png);
    position: absolute;
    right: 0;
}

.result:nth-child(2n) h2:after
{
    content: url(../img/two-stars.png);
    position: absolute;
    right: 0;
}

.result:nth-child(3n) h2:after
{
    content: url(../img/three-stars.png);
    position: absolute;
    right: 0;
}

.result-image-left
{
    width: 135px;
    height: 90px;
}

.result-description-right
{
    width: 895px;
    position: absolute;
    left: 235px;
    top: 21px;
}

.result-description-footer
{
    display: block;
    margin-top: 7px;
}

.result-btns
{
    display: block;
    position: relative;
    text-align: center;
    
}

.digit-raiting
{
    color: #666;
    position: absolute;
    right: 0;
    top: 0;
}

.result-btns .background-color-blue, .digit-raiting
{
    padding-top: 4px;
    height: 26px;
    width: 110px;
}

.result-btns .background-color-brown
{
    position: absolute;
    left: 115px;
    top: 0;
    padding-top: 4px;
    height: 26px;
    width: 142px;
}

.result-btns a:link, .result-btns a:active, .result-btns a:visited
{
    text-decoration: none;
    color: #fff;
}

.bc-header
{
    font-size: 30px;
    line-height: 24px;
    margin: 0px;
}

.bc-description
{
    font-size: 14px;
    line-height: 24px;
    margin-top: 38px;
    margin-bottom: 36px;
}
.footer-container
{
    font-size: 21px;
    line-height: 26px;
}

.social
{
    display: inline-flex;
    text-align: center;
}

.social img
{
    vertical-align: -12px;
}

.social div
{
    width: 47px;
    height: 47px;
    margin: 7px;
}

.designed-by span
{
    vertical-align: 9px;
    font-size: 14px;
    line-height: 26px;
}

.background-color-gray, .digit-raiting
{
    background-color: #f2f2f2;
}

.background-color-grayfe, .sort-container, .search-results
{
    background-color: #fefefe;
}

.background-color-blue
{
    background-color: #81b3d2;
}

.background-color-brown
{
    background-color: #766357;
}

.background-color-white
{
    background-color: #fff;
}